// ion-content {

// }

ion-list {
  background: transparent;
  transform: translateY(10vh);
  ion-list-header {
    margin-bottom: 5vh;
    letter-spacing: 3px;
    ion-label {
      font-weight: bold;
      font-size: 3rem;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    //   color: white;
    }
  }
  p {
    font-size: 0.8rem;
    padding-top: 1vh;
    ion-text {
      margin: 10px;
    }
  }
}

.alignItems {
  ion-icon,
  ion-note {
    display: inline-block;
    vertical-align: middle;
  }
  ion-icon {
    margin-right: 1vw;
    font-size: 1.1rem;
  }
}

ion-footer {
  ion-text {
    font-size: 0.8rem;
    margin: 10px;
  }
}

/* product-selection.component.css */
// .container {
//   display: flex;
// }

// .products,
// .selected-products {
//   flex: 1;
//   border: 1px solid #ccc;
//   padding: 10px;
// }

// .product {
//   cursor: pointer;
//   margin-bottom: 5px;
// }

// .quantity {
//   font-weight: bold;
//   margin-left: 5px;
// }
